{% extends 'base.html.twig' %}



{% block title %}
    welcome {{ name }}
{% endblock %}
{% block body %}
    <div class="container">

        <div class="header-box row">
            <div class="col-md-12">
                <h1>Wij willen jouw menig</h1>
            </div>
        </div>
        <div class="content-box row">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}


            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>1</th>
                                <th>Beoordeel jezelf: </th>
                                <th>1 2 3 4 5 6 7 8 9 10</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <label>
                                    <th scope="row">-</th>
                                    <td>Ik sta sterker in mijn schoenen voor het examen door het volgen van deze
                                        training.
                                    </td>
                                    <td class="inputbullets">
                                        <input type="radio" name="optionsRadios" value="option1">
                                        <input type="radio" name="optionsRadios" value="option2">
                                        <input type="radio" name="optionsRadios" value="option3">
                                        <input type="radio" name="optionsRadios" value="option4">
                                        <input type="radio" name="optionsRadios" value="option5">
                                        <input type="radio" name="optionsRadios" value="option6">
                                        <input type="radio" name="optionsRadios" value="option7">
                                        <input type="radio" name="optionsRadios" value="option8">
                                        <input type="radio" name="optionsRadios" value="option9">
                                        <input type="radio" name="optionsRadios" value="option10">
                                    </td>
                                </label>
                            </tr>
                            <tr>
                                <label>
                                    <th scope="row">-</th>
                                    <td>Ik sta sterker in mijn schoenen voor het examen door het volgen van deze
                                        training.
                                    </td>
                                    <td>
                                        <input type="radio" name="optionsRadios" value="option1">
                                        <input type="radio" name="optionsRadios" value="option2">
                                        <input type="radio" name="optionsRadios" value="option3">
                                        <input type="radio" name="optionsRadios" value="option4">
                                        <input type="radio" name="optionsRadios" value="option5">
                                        <input type="radio" name="optionsRadios" value="option6">
                                        <input type="radio" name="optionsRadios" value="option7">
                                        <input type="radio" name="optionsRadios" value="option8">
                                        <input type="radio" name="optionsRadios" value="option9">
                                        <input type="radio" name="optionsRadios" value="option10">
                                    </td>
                                </label>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
                <form>
                    <fieldset class="form-group">

                    </fieldset>
                </form>
            </div>
        </div>
    </div>



{% endblock %}
