{% extends 'base.html.twig' %}



{% block title %}
    welcome {{ name }}
{% endblock %}
{% block body %}
    <div class="container">

        <div class="header-box row">
            <div class="col-md-12">
                <h1>Wij willen jouw menig</h1>
            </div>
        </div>
        <div class="content-box row">
            <div class="col-md-12">
                <h1>Halgdfg</h1>
            </div>
        </div>
    </div>



{% endblock %}
