{% extends 'base.html.twig' %}

{% block title %}
    The for is submitted
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12 text-blok">
            Beste eindexamenkandidaat,<br />
            <br />
            {{ message }}
            <br /><br />
            Veel succes met je examens! <br />

        </div>
    </div>

{% endblock %}
