@import "./../../../node_modules/bootstrap/scss/bootstrap.scss";

.table-striped-eva div.table-row:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table-striped-eva {
    .table-header{
        background: white;
        font-weight: bold;
        border-bottom: 2px solid #eceeef;
        padding: .75rem;
        line-height: 1.5;
        vertical-align: top;
        border-top: 1px solid #eceeef;
    }
    .table-row>div {
        display: table-cell;
        padding: .75rem;
        line-height: 1.5;
        vertical-align: top;
        border-top: 1px solid #eceeef;
    }
}
.v-center {
    h1 {
        margin-top: 15px;
        text-align: center;
        vertical-align: middle;
    }
}
.text-blok{
    padding: 15px;
}
